@import "tailwindcss";

@theme {
  --color-primary: #0b7a4b;
  --color-primary-hover: #096b40;
  --color-light-bg: #edf8f2;
  --color-border: #e8e8e8;
  --color-text-dark: #1a1a1a;
  --color-text-muted: #888;
  --color-text-desc: #666;
  --font-family-heading: 'Outfit', sans-serif;
  --font-family-body: 'Poppins', sans-serif;
}
